@font-face
  font-family: "Space Grotesk"
  src: url("../fonts/space_grotesk.ttf") format("truetype")
  font-style: normal
  font-weight: 400
  font-display: swap

@font-face
  font-family: "Space Grotesk"
  src: url("../fonts/space_grotesk.ttf") format("truetype")
  font-style: italic
  font-weight: 400
  font-display: swap

html, body
  margin: 0
  padding: 0
  background: var(--uicolor-black)
  color: var(--uicolor-white)
  min-height: 100vh

#__nuxt
  min-height: 100vh
  +flex_start_column

*
  box-sizing: border-box

h1
  font: 700 28px/120% var(--main-font)
  margin: 20px 0
  +tablet
    font: 700 48px/120% var(--main-font)
  +desktop
    font: 700 58px/120% var(--main-font)

h2
  font: 700 28px/120% var(--main-font)
  margin: 20px 0
  +tablet
    font: 700 38px/120% var(--main-font)
  +desktop
    font: 700 5848/120% var(--main-font)

h3
  font: 700 28px/120% var(--main-font)
  margin: 20px 0
  +tablet
    font: 700 30px/120% var(--main-font)
  +desktop
    font: 700 38px/120% var(--main-font)

h4
  font: 400 20px/120% var(--main-font)
  margin: 20px 0
  +desktop
    font: 400 24px/120% var(--main-font)

h5
  font: 400 16px/120% var(--main-font)
  margin: 20px 0
  +tablet
    font: 400 18px/120% var(--main-font)
  +desktop
    font: 400 22px/120% var(--main-font)

p, span, a, blockquote
  font: 400 15px/150% var(--main-font)
  +tablet
    font: 400 16px/150% var(--main-font)
  +desktop
    font: 400 18px/150% var(--main-font)

.container
  width: 100%
  max-width: 1200px
  margin: 0 auto
  padding: 20px
  height: 100%
  flex-grow: 1
  text-align: center
  +desktop
    padding: 40px 20px

.firebase-emulator-warning
  display: none
